@charset "UTF-8";

/* PC用 */
@media (min-width:751px){
    body {
	width:75%;
    max-width: 700px;
	margin:0 auto;
    line-height:1.8;
    font-size:18px;
    color:#666;
    font-family:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
    }

    a{
    text-decoration:none; color:#000;
    }

    h1{
    font-weight:normal; 
    font-size:1.5em; 
    margin-bottom:10%;
    }

    article{
    white-space: pre-wrap;
    margin: 10% auto;
    }
    
    div{
        width: 100%;
        margin-top:15%;
    }
    
    footer{
        width: 100%;
        margin:10% 0;
    }
}

/* スマホ用 */
@media (max-width:750px){
    body {
	width:85%;
    font-size:17px;
	margin:0 auto;
    line-height:1.65;
    color:#666;
    font-family:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
    }

    a{ 
    text-decoration:none;
    color:#000;
    }
    
    h1{
    font-weight:normal; 
    font-size:1.3em;
    margin:20% 0; 
    text-align:center;
    }
    
    article{
    white-space: pre-wrap;
    }
    
    div{
        width: 100%;
        margin-top:20%;
        text-align:center;
    }
    
    footer{
        width: 100%;
        margin:25% 0;
        text-align:center;
    }
}