@charset "UTF-8";

/* 全体調整 スマートフォン */

.fade-layer,
body:before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    z-index:99999;}
body.fade-layer-off:before{
    content: none;}
body {
	width:100%;
	margin:0 auto;
    line-height:1.5;
    font-size:14px;
    font-family:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.flex1{
    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    -ms-flex-wrap:wrap;/*--- IE10用 ---*/
    -webkit-flex-wrap:wrap;/*--- safari（PC）用 ---*/
	display: flex;
	flex-wrap: wrap;
}
.flex2{
    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    -ms-flex-wrap:wrap;/*--- IE10用 ---*/
    -webkit-flex-wrap:wrap;/*--- safari（PC）用 ---*/
    -webkit-box-pack:justify;/*--- Androidブラウザ用 ---*/
    -ms-flex-pack:justify;/*--- IE10 ---*/
    -webkit-justify-content:space-between;/*--- safari（PC）用 ---*/
	display: flex;
	justify-content: space-between;
	align-items:baseline;
	flex-wrap: wrap;
   }
.flex3{
    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    -ms-flex-wrap:wrap;/*--- IE10用 ---*/
    -webkit-flex-wrap:wrap;/*--- safari（PC）用 ---*/
    -webkit-box-pack:center;/*--- Androidブラウザ用 ---*/
    -ms-flex-pack:center;/*--- IE10 ---*/
    -webkit-justify-content:center;/*--- safari（PC）用 ---*/
    -webkit-box-align:center;/*--- Androidブラウザ用 ---*/
    -ms-flex-align:center;/*--- IE10 ---*/
    -webkit-align-items:center;/*--- safari（PC）用 ---*/
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
}
.flex4{
	display: flex;
	justify-content: center;
	align-items:top;
	flex-wrap: wrap;}
.flex5{
	display: flex;
	align-items:baseline;
	flex-wrap: wrap;}
.flex6{
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;}
.flex7{
	display: flex;
	flex-wrap: wrap;
	align-items:center;}
	
.relative{position: relative;}

/* 画面全体の幅調整 */
#wrap{
	width:100%;
	background:url(../img/bg_craftpaper04.jpg);
}
.rightSide{width: 100%;}
.rightSide h1{
}
.leftSide{width: 100%;}

a{
	text-decoration:none;
	color:#000;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

/* ヘッダー  */
header{
	text-align:center;
}
#logo{width:50%; margin: 0 auto; padding: 15% 0; max-width: 230px;}
#logo img{
	max-width:100%;
}
nav{
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(0,0,0,0.5);
	padding: 3% 0;
	width: 90%;
	margin: 0 auto;
}
nav ul{
	margin:0 auto;
	text-align:center;
}
nav ul#bx-pager a{
	line-height:1em;
	padding:3%;
	min-width:80px;
	max-width:110px;
	transition: 0.5s ease-in-out;
	text-align:center;
}
nav ul#bx-pager a:hover{
	background:#fff;
	transition: 0.5s ease-in-out;
    border-radius: 5px;
}
nav ul#bx-pager li{
	min-width:80px;
	max-width:110px;
	text-align:center;
}

nav ul#bx-pager img{
	max-width:100%;
}

nav ul#sns a{
	width: 8%;
	max-width:28px;
	min-width:20px;
	padding:3% 2% 0 2%;}
nav ul#sns img{
	max-width:28px;
	min-width:20px;
}	
#sns i{
color:#55acee; font-size:20px;	
}

#here{
	width:30%;
	margin:5% auto;
	min-width:100px;
	max-width:150px;
}
#here img{
	max-width:100%;
}

#info a{
	width:90%;
	padding: 3% 0;
	margin:0 auto;
	display:block;
	transition: 0.5s ease-in-out;
	text-decoration:none;
	color:#330000;}
#info a:hover{
	background: #fff;
	transition: 0.5s ease-in-out;}
	
/* コンテンツスライド 　背景設定*/
div#slaid1{
	height:100%;
	background:url(../img/test2.jpg) left center;}
div#slaid2{
	height:100%;
	background:url(../img/test3.jpg) left 20%;}
div#slaid3{
	height:100%;
	background:url(../img/bg_craftpaper04.jpg);}
div#slaid4{
	height:100%;
	background:url(../img/recitation.png);
	background-size:cover;
}
div#slaid5{
	height:100%;
	background:url(../img/bg_craftpaper04.jpg);}

/* コンテンツスライド 　共通部分*/
.content-page{
	width:100%;
	height:100%;
	margin:0 auto;
	overflow: auto;
}

.hover{
	padding: 3%;
	transition: 0.5s ease-in-out;
}
.hover:hover{
	background:#fff;
	transition: 0.5s ease-in-out;
}
.hover2{
	padding: 2% 3%;
	transition: 0.5s ease-in-out;
}
.hover2:hover{
	background:#fff;
	transition: 0.5s ease-in-out;
}

.caption1 h1{
	font-size: 2em;
	color: rgba(0,0,0,0.5);
	letter-spacing: 0.12em;
	margin-right:1em;
}
.caption1 h2{
	font-size: 1.5em;
	color: rgba(0,0,0,0.5);
	text-decoration:underline;
}
.caption1 p{
color: rgba(0,0,0,0.5);
}
.caption2{
color: rgba(0,0,0,0.5);
}
.caption2 a{
	display:block;
	font-size:1.1em;
}

.caption3 h1{
color: rgba(0,0,0,0.5);
}
.caption3 li{
	margin:1% 2% 1% 0;
	text-decoration:underline;
	color: rgba(0,0,0,0.7);
}

/* コンテンツスライド 　各パート個別設定*/
#novel{
	background:rgba(255,255,255,0.5);
}
#novel>.caption1{
	padding:3%;
}
#novel-content section{
	padding:2% 3%;
	margin:1% 0;
	display: flex;
	align-items:baseline;
	flex-wrap: wrap;
	transition: 0.5s ease-in-out;
}
#novel-content section:hover{
	background: #fff;
	transition: 0.5s ease-in-out;
}
#novel-content section h1{
font-size: 1.2em;
font-weight:bolder;
margin-right:1.5em;
text-decoration:underline;
}
#novel-content section li{
margin-right:2%;
text-decoration:underline;
}
#novel-content section p{
color: rgba(0,0,0,0.5);
}

#journey{
	background:rgba(255,255,255,0.5);
}
#journey section{
	margin: 2% 0;
}

#poem{
	background:rgba(255,255,255,0.7);
}
#poem dd{
font-size: 1.2em;
}
#poem dt{
	color:rgba(0,0,0,0.5);
}
#poem dl a{
	display: block;
	padding:2%;
	margin: 1% 0;
}
#poem>.caption2 h1{
	font-size: 1.2em;
	margin:2% 0;
	color:#000;
}
#poem>.caption2 a{
	font-size: 1em;
	text-decoration:underline;
}
#poem li{
	margin:2% 4% 0 0;
}

#book{
	background:rgba(255,255,255,0.5);
}

#book .caption3{
    width: 100%;
    box-sizing: border-box;
	display: flex;
	align-items:center;
	flex-wrap: wrap;
}

#book ul,dl{
}
.bookinfo{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.bookinfo li{
	width: 100%;
	min-width:220px;
	padding:2%;
	margin:1% 0;
	display: flex;
    box-sizing: border-box;
	flex-wrap: wrap;
	align-items:center;
}
.bookinfo li span:first-child{
	width:30%;
}
.bookinfo li span:last-child{
	width:60%;
	height:100%;
	padding:0 5%;
}
.bookinfo li span{
	width:30%;
	color:rgba(0,0,0,0.5);
}

.bookinfo li span h1{
	color:#000;
}
.bookinfo img{
	width:100%;
}

/* コンテンツスライド 　ランダムピックアップ*/
#pickup{
	height: 100%; background: #fff; width: 100%;
	box-sizing: border-box;
	padding-top:5%;
	margin: 0 auto;
	}
#pickup h1{
	font-weight:normal;
	font-size:1.5em;
	color:#ccc;
	height:10%;
	text-align:center;
    margin: 5% 0;
}
#pickup p{
	color:#444;
    height: 80%;
	width:96%;
	margin:0 auto;
	overflow: hidden;
	line-height: 1.6em;
	font-size:1.3em;
}
@media all and(max-width:380px){
#pickup p{font-size:10px;}
.caption1 h2,#novel p,#journey p,#poem,#book,#novel li,.caption2 h1,.caption3 h1{font-size:9px;}
#novel-content section h2{display: none;}
.caption1 h1,#novel-content section h1{
	font-size: 13px;
}}
#pickup .more{
	height: 15%;
	width:100%;
	box-sizing:border-box;
	background:#fff;
	text-align:center;
}

#pickup a{
	text-decoration:none;
	color:#666;
	display:block;
	height:100%;
    padding:1.5em;
	transition: 0.5s ease-in-out;
}
.more a:hover{
	background: skyblue;
}

/* コンテンツ */
#about{
	width:90%;
	margin:0 auto;
	font-size:1.1em;
	line-height: 1.6em;
}
.cmn-btn{
	width: 100%;
	background:rgba(80,200,200,0.5);
	border-radius:10px;
	padding:3% 0;
	text-align:center;
	margin:8% auto;
	transition: 0.5s ease-in-out;
}
.cmn-btn:hover{
	width: 100%;
	background:#fff;
	transition: 0.5s ease-in-out;
}
#about h1,#mail h1{
	width:100%;
	padding:3% 0;
	font-size: 1.8em;
	color: rgba(80,200,200,1);
	letter-spacing: 0.1em;
}

#mail{
	width:90%;
	height:50%;
	margin:0 auto;
}
/*メールフォーム全体を囲っているタグのid*/
#default_top {
	width:100%;
}

/*メールフォームのパーツや送信ボタンを囲っているタグのclass（タイトル、説明文以外）*/
#default_top .main {
	width:100%;
}

/*『textarea』パーツの表示名を囲っているタグのclass（[ 簡易メールフォーム　※文字数上限：1000 ]の部分）*/
#default_top .textarea_left{
	font-size:0.8em;
	opacity: 0.5;
}

/*『textarea』パーツの入力項目を囲っているタグのclass*/
#default_top .textarea_right {
	width:100%;
}

/*『textarea』パーツの入力項目のclass（inputなどの部分）*/
#default_top .textarea_parts {
	width:95%;
	height:8em;
}

/*メールフォームの送信ボタンを囲っているタグのclass*/
#default_top .submit {
	margin:0 auto;
}

/*メールフォームの送信ボタンのclass*/
#default_top .submit_button {
	margin:0 auto;
	width: 30%;
	padding:2% 0;}

#contact{
	width:100%;
	height:50%;
	box-sizing:border-box;
	margin:5% auto;
	text-align: center;
}

/* フッター */
footer{
	width:90%;
	background-color:#000;
	color:#fff;
	padding: 5%;
}

#profile a{
	color:#fff;
	text-decoration:underline;
	line-height:1.8em;
}

#profile div{
	padding:5%;
}

#profile h1{
	font-size:1.5em;
	letter-spacing: 0.12em;
	color:#55acee;
	padding-bottom: 3%;
}
#profile span{
	width:20%;
}

#profile img{
	width:100%;
	border-radius:50%;
}

#profile ul{
	margin:5% 0;
}
